body{
margin:0;
font-family:Arial;
background:#f4f4f4;
}

html{
scroll-behavior:smooth;
}

/* Navbar */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#111;
padding:15px 40px;
position:sticky;
top:0;
z-index:999;
}

.logo{
display:flex;
align-items:center;
gap:10px;
color:white;
font-size:20px;
font-weight:bold;
}

.logo-img{
width:40px;
height:40px;
border-radius:50%;
object-fit:cover;
border:2px solid #00ff9c;
}

.nav-links a{
color:white;
margin-right:10px;
text-decoration:none;
}

.nav-links a:hover{
color:#00c853;
}

.menu-icon{
display:none;
font-size:30px;
color:white;
cursor:pointer;
}

@media (max-width:768px){

.nav-links{
display:none;
flex-direction:column;
background:#111;
position:absolute;
top:60px;
right:0;
width:200px;
padding:20px;
}

.nav-links a{
display:block;
margin-bottom:10px;
}

.menu-icon{
display:block;
}

}

/* Hero */

.hero{
text-align:center;
padding:80px;
background:linear-gradient(135deg,#222,#444);
color:white;
}


/* Photos */

.photos-section{
text-align:center;
padding:40px;
}

.photos{
display:flex;
justify-content:center;
gap:20px;
margin-top:20px;
}

.photos img{
width:500px;
border-radius:10px;
transition:0.3s;
}

.photos img:hover{
transform:scale(1.08);
}


/* Cards */

.container{
display:flex;
gap:20px;
padding:40px;
flex-wrap:wrap;
}

.box{
background:white;
padding:25px;
border-radius:12px;
flex:1;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
transition:0.3s;
}

.box:hover{
transform:translateY(-10px);
}

.box ul{
list-style:none;
padding:0;
}

.box ul li{
padding:5px 0;
}


/* Button */

button{
background:#00ff9c;
color:black;
padding:10px 20px;
border:none;
border-radius:6px;
cursor:pointer;
box-shadow:0 0 10px #00ff9c, 0 0 20px #00ff9c;
transition:0.2s;
}

button:hover{
box-shadow:0 0 20px #00ff9c, 0 0 40px #00ff9c;
transform:scale(1.05);
}


/* Footer */

footer{
background:#111;
color:white;
text-align:center;
padding:1px;
}


/* Dark Mode */

.dark{
background:black;
color:white;
}

.dark .box{
background:#222;
color:white;
}

.dark .navbar{
background:#000;
}

.dark .project-card{
background:#222;
color:white;
}

/* Projects Section */

.projects{
padding:50px;
text-align:center;
}

.project-container{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
margin-top:30px;
}

.project-card{
background:rgb(248, 246, 246);
width:300px;
padding:20px;
border-radius:12px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
transition:0.3s;
}

.project-card:hover{
transform:translateY(-10px);
}

.project-card h3{
margin-top:10px;
}

.project-buttons{
margin-top:15px;
display:flex;
gap:10px;
justify-content:center;
}

.project-buttons button{
background:#00c853;
border:none;
padding:8px 15px;
color:white;
border-radius:6px;
cursor:pointer;
}

.demo-btn{
background:#2962ff;
}

/* Matrix */

#matrix{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: black;
}

#terminal{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:black;
color:#00ff9c;
display:flex;
justify-content:center;
align-items:center;
z-index:1000;
font-family:monospace;
}

.terminal-box{
text-align:center;
}

#terminal-text{
font-size:20px;
margin-bottom:20px;
}

#terminal button{
background:#00ff9c;
border:none;
padding:10px 20px;
font-size:16px;
cursor:pointer;
}

/* Cybersecurity tool */
.tools{
text-align:center;
padding:50px;
}

.tools-container{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.tool{
background:#111;
color:#00ff9c;
padding:15px 25px;
border:1px solid #00ff9c;
border-radius:8px;
}

/* Skill box */
.skills-box{
background:#111;
border:1px solid #00ff9c;
}

.skill{
margin-bottom:15px;
}

.skill p{
margin:5px 0;
}

.skill-bar{
width:100%;
height:10px;
background:#222;
border-radius:10px;
overflow:hidden;
}

.skill-fill{
height:100%;
background:#00ff9c;
}

/* Skill Levels */

.html{
width:90%;
}

.css{
width:80%;
}

.js{
width:60%;
}

.python{
width:70%;
}

/*Cybersecurity Hackern Theme*/

body{
background:black;
color:#00ff9c;
font-family:monospace;
}

.navbar{
background:#000;
border-bottom:1px solid #00ff9c;
}

.hero{
background:linear-gradient(135deg,#000,#111);
}

.box{
background:#111;
border:1px solid #00ff9c;
}

.project-card{
background:#111;
border:1px solid #00ff9c;
}

button{
background:#00ff9c;
color:black;
}
